.github-user-list {
    width: calc(100% / 3);
    height: 400px;
    border: 1px solid #ccc;
    .github-user-list-title {
        font-weight: bold;
        padding: 10px 0 10px 10px;
        border-bottom: 1px solid #ccc;
    }
    .github-user-list-user-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px;
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        div {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            .github-user-list-user-item-img {
                width: 30px;
                height: 30px;;
                margin-right: 6px;
            }
        }
        .github-user-list-arrow {
            float: right;
        }
    }
}