// reset
body, ol, ul, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1.6rem;
}
ol, ul {
    list-style-type: none;
}
input, button {
    border: none;
    outline: none;
}
button {
    cursor: pointer;    
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1rem;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
